<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <title>Chest</title>
    <link rel="icon" href="../static/css/photo.png" type="image/png"> </link>
  </head>
  <body class="bg-red-900">
    <form class="absolute inset-y-0 left-0 w-30 p-40 px-64"action="/personal" method="POST">
        <div class="form-group">
          <p class="mt-36 text-justify text-3xl font-bold font-sans text-red-900">Please Sign In</p>
          <label for="Email"></label>
          <input type="email" class="mt-8 form-control1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="Password"></label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="bg-red-900 hover:bg-black text-white py-1 px-4 mt-2 rounded px-1 mx-16">Submit</button>
      </form>
      <div class="container mx-96 my-40 px-96">
        <img src="../static/css/photo.png" class="img-fluid" alt="Responsive image" type="image/png">
        <h1 class="Welcome text-4xl py-2">Welcome to our community!</h1>
        <p class="Notes text-l py-8">Here, you can take notes to yourself, set reminders and write daily letters.
          You can open yourself in this private blog page. This is your personal treasure
          chest. No one can access your writings, your data will not be processed.
          Please enjoy your ride!
        </p>

        <div class="Signup", href="">
          <a href="./signup" class="text-white py-36">Don't you have an account?</a>
        </div>
        
      </div>      
  </body>
</html>
'